*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* html is the root element of the project */
/* you want it to be a percent of the root element font size which is 16px but you still wnat to give the user the ability to change the font size on their end */
html {
  font-size: 62.5%; //1rem = 10px
  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px:
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px;
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}
